### Earlier when discussing strings we introduced the concept of a <u>sequence</u> in Python.
* <u>Lists</u> can be thought of the most general version of a *sequence* in Python.


* Unlike strings, they are mutable, meaning the elements inside a list can be changed!


* Lists are constructed with brackets <code>[]</code> and commas separating every element in the list.

In [ ]:
# Assign a list to an variable named my_list.
my_list = [1,2,3,4]

In [ ]:
type(my_list)

list

In [ ]:
print(my_list)

[1, 2, 3, 4]

* We just created a list of integers, but lists can actually hold different object types. For example:

In [ ]:
my_list = ['A string',23,100.232,'o',True]

In [ ]:
my_list

['A string', 23, 100.232, 'o', True]

* Just like strings, the <code>len()</code> function will tell you how many items are in the sequence of the list.

In [ ]:
len(my_list)

5

## List Indexing
* Indexing work just like in strings.


* A list index refers to the location of an element in a list.


* Remember the indexing begins from 0 in Python.


* The first element is assigned an index 0, the second element is assigned an index of 1 and so on and so forth.

In [ ]:
# Consider a list of strings
loss_functions = ['Mean Absolute Error','Mean Squared Error','Huber Loss','Log Loss','Hinge Loss']
print(loss_functions)

['Mean Absolute Error', 'Mean Squared Error', 'Huber Loss', 'Log Loss', 'Hinge Loss']

In [ ]:
# Grab the element at index 0, which is the FIRST element
print(loss_functions[0])

Mean Absolute Error

In [ ]:
len(loss_functions)

5

In [ ]:
# Grab the element at index 3, which is the FOURTH element
print(loss_functions[3])

Log Loss

In [ ]:
# print(loss_functions[6])

In [ ]:
# Grab the element at the index -1, which is the LAST element
print(loss_functions[-1])

Hinge Loss

In [ ]:
# Grab the element at the index -3, which is the THIRD LAST element
print(loss_functions[-3])

Huber Loss

## List Slicing

* We can use a <code>:</code> to perform *slicing* which grabs everything up to a designated point.


* The starting index is specified on the left of the <code>:</code> and the ending index is specified on the right of the <code>:</code>.


* Remember the element located at the right index is not included.

In [ ]:
# Print our list
print(loss_functions)

['Mean Absolute Error', 'Mean Squared Error', 'Huber Loss', 'Log Loss', 'Hinge Loss']

In [ ]:
# Grab the elements starting from index 1 and everything past it
loss_functions[1:4]

['Mean Squared Error', 'Huber Loss', 'Log Loss']

* If you do not specify the ending index, then all elements are extracted which comes after the starting index including the element at that starting index. The operation knows only to stop when it has run through the entire list.

In [ ]:
# Grab everything starting from index 2
loss_functions[2:]

['Huber Loss', 'Log Loss', 'Hinge Loss']

* If you do not specify the starting index, then all elements are extracted which comes befores the ending index excluding the element at the specified ending index. The operation knows only to stop when it has extracted all elements before the  element at the ending index.

In [ ]:
# Grab everything before the index 4
loss_functions[:4]

['Mean Absolute Error', 'Mean Squared Error', 'Huber Loss', 'Log Loss']

* If you do not specify the starting and the ending index, it will extract all elements of the list.

In [ ]:
# Grab everything
print(loss_functions[:])

['Mean Absolute Error', 'Mean Squared Error', 'Huber Loss', 'Log Loss', 'Hinge Loss']

* We can also extract the last four elements. Remember we can use the index -4 to extract the FOURTH LAST element

In [ ]:
# Grab the LAST FOUR elements of the list
loss_functions[-4:]

['Mean Squared Error', 'Huber Loss', 'Log Loss', 'Hinge Loss']

In [ ]:
# loss_functions[-10]

* It should also be noted that list indexing will return an error if there is no element at that index.

In [ ]:
len(loss_functions)

5

In [ ]:
# loss_functions[8]

## List Operations
* Remember we said that lists are mutable as opposed to strings. Lets see how can we change the elements of a list

* We can also use <code>+</code> to concatenate lists, just like we did for strings.

In [ ]:
print(loss_functions)

['Mean Absolute Error', 'Mean Squared Error', 'Huber Loss', 'Log Loss', 'Hinge Loss']

In [ ]:
loss_functions + ['Kullback-Leibler']

['Mean Absolute Error',
 'Mean Squared Error',
 'Huber Loss',
 'Log Loss',
 'Hinge Loss',
 'Kullback-Leibler']

* Note: This doesn't actually change the original list!

In [ ]:
print(loss_functions)

['Mean Absolute Error', 'Mean Squared Error', 'Huber Loss', 'Log Loss', 'Hinge Loss']

* You would have to reassign the list to make the change permanent.

In [ ]:
# Reassign
loss_functions = loss_functions + ['Kullback-Leibler']

In [ ]:
loss_functions[0]

'Mean Absolute Error'

* We can also use the <code>*</code> for a duplication method similar to strings:

In [ ]:
# Make the list double
len(loss_functions * 6)

36

## List Functions

### <code>len()</code>


* <code>len()</code> function returns the length of the list

In [ ]:
print(loss_functions)

['Mean Absolute Error', 'Mean Squared Error', 'Huber Loss', 'Log Loss', 'Hinge Loss', 'Kullback-Leibler']

In [ ]:
len(loss_functions)

6

### <code>min()</code>


* <code>min()</code> function returns the minimum element of the list


* <code>min()</code> function only works with lists of similar data types

In [ ]:
new_list = [6, 9, 1, 3, 5.5]

In [ ]:
min(new_list)

1

In [ ]:
my_new_list = ['a','b', 'z' ,'y' , 'm', 'A','B']

In [ ]:
min(my_new_list)

'A'

### <code>max()</code>


* <code>max()</code> function returns the maximum element of the list


* <code>max()</code> function only works with lists of similar data types

In [ ]:
new_list = [6, 9, 1, 3, 5.5]
max(new_list)

9

In [ ]:
new_list = ['Argue','Burglar','Parent','Linear','shape']

In [ ]:
max(new_list)

'shape'

### <code>sum()</code>


* <code>sum()</code> function returns the sum of the elements of the list


* <code>sum()</code> function only works with lists of numeric data types

In [ ]:
new_list = [6, 9, 1, 3, 5.5]

In [ ]:
sum(new_list)

24.5

### <code>sorted()</code>


* <code>sorted()</code> function returns the sorted list


* <code>sorted()</code> function takes reverse boolean as an argument


* <code>sorted()</code> function only works on a list with similar data types

In [ ]:
new_list

[6, 9, 1, 3, 5.5]

In [ ]:
sorted(new_list)

[1, 3, 5.5, 6, 9]

In [ ]:
sorted(new_list, reverse=True)

[9, 6, 5.5, 3, 1]

In [ ]:
print(new_list)

[6, 9, 1, 3, 5.5]

In [ ]:
new_list = ['Argue','Burglar','Parent','Linear','shape']

In [ ]:
sorted(new_list)

['Argue', 'Burglar', 'Linear', 'Parent', 'shape']

In [ ]:
print(new_list)

['Argue', 'Burglar', 'Parent', 'Linear', 'shape']

In [ ]:
sorted(new_list,reverse=True)

['shape', 'Parent', 'Linear', 'Burglar', 'Argue']

In [ ]:
# sorted(new_list)

* <code>sorted()</code> function does not change our list

In [ ]:
new_list

['Argue', 'Burglar', 'Parent', 'Linear', 'shape']

## List Methods

* If you are familiar with another programming language, you might start to draw parallels between arrays in another language and lists in Python. Lists in Python however, tend to be more flexible than arrays in other languages for a two good reasons: they have no fixed size (meaning we don't have to specify how big a list will be), and they have no fixed type constraint (like we've seen above).


* Let's go ahead and explore some more special methods for lists:

In [ ]:
# Create a new list
my_list = [1,2,3,1,1,1,3,10,5,8]

### <code>append()</code>

* Use the <code>append()</code> method to permanently add an item to the end of a list.


* <code>append()</code> method takes the element which you want to add to the list as an argument

In [ ]:
# Print the list
my_list

[1, 2, 3, 1, 1, 1, 3, 10, 5, 8]

In [ ]:
len(my_list)

10

In [ ]:
# Append to the end of the list
my_list.append('Append me!')

* Ah darn it! I was expecting some output. Lets see what happened to <code>my_list</code>

In [ ]:
print(my_list)

[1, 2, 3, 1, 1, 1, 3, 10, 5, 8, 'Append me!']

In [ ]:
len(my_list)

11

* Woah! Calling the <code>append()</code> method changed my list? Yes, the <code>append()</code>  method changes your original list!

In [ ]:
# Show
my_list.append(2.73)

In [ ]:
print(my_list)

[1, 2, 3, 1, 1, 1, 3, 10, 5, 8, 'Append me!', 2.73]

* We can in fact add a list object to our <code>my_list</code> object

In [ ]:
my_list.append([1,2,3])

In [ ]:
my_list

[1, 2, 3, 1, 1, 1, 3, 10, 5, 8, 'Append me!', 2.73, [1, 2, 3]]

In [ ]:
len(my_list)

13

In [ ]:
my_list.append([10,[19,20],30])

In [ ]:
len(my_list)

14

### <code>extend()</code>

* Use the <code> extend()</code> method to merge a list to an existing list


* <code> extend()</code> method takes a list or any iterable(don't worry about it now) as an argument.


* Quite helpful when you have two or more lists and you want to merge them together

In [ ]:
# Print the list
print(my_list)

[1, 2, 3, 1, 1, 1, 3, 10, 5, 8, 'Append me!', 2.73, [1, 2, 3], [10, [19, 20], 30]]

In [ ]:
my_list.extend(['xyz','abc','qwe'])

In [ ]:
print(my_list)

[1, 2, 3, 1, 1, 1, 3, 10, 5, 8, 'Append me!', 2.73, [1, 2, 3], [10, [19, 20], 30], 'xyz', 'abc', 'qwe']

In [ ]:
len(my_list)

17

### <code>pop()</code>

* Use <code>pop()</code> to "pop off" an item from the list.


* By default <code>pop()</code> takes off the element at the last index, but you can also specify which index to pop off.


* <code>pop()</code> takes the index as an argument and returns the elenent which was popped off.

In [ ]:
# Print the list
print(my_list)

[1, 2, 3, 1, 1, 1, 3, 10, 5, 8, 'Append me!', 2.73, [1, 2, 3], [10, [19, 20], 30], 'xyz', 'abc', 'qwe']

In [ ]:
my_list.pop(2)

3

In [ ]:
# Pop off the 0 indexed item
my_list.pop()

'qwe'

* <code>pop()</code> method changes the list by popping off the element at the specified index

In [ ]:
print(my_list)

[1, 2, 1, 1, 1, 3, 10, 5, 8, 'Append me!', 2.73, [1, 2, 3], [10, [19, 20], 30], 'xyz', 'abc']

In [ ]:
# Assign the popped element, remember default popped index is -1
my_list.pop(-1)

'abc'

In [ ]:
len(my_list)

14

In [ ]:
print(my_list)

[1, 2, 1, 1, 1, 3, 10, 5, 8, 'Append me!', 2.73, [1, 2, 3], [10, [19, 20], 30], 'xyz']

### <code>remove()</code>

* Use <code>remove()</code> to remove an item/element from the list.


* By default <code>remove()</code> removes the specified element from the list.


* <code>remove()</code> takes the element as an argument.

In [ ]:
# Print the list
print(my_list)

[1, 2, 1, 1, 1, 3, 10, 5, 8, 'Append me!', 2.73, [1, 2, 3], [10, [19, 20], 30], 'xyz']

In [ ]:
# Remove the element which you want to
my_list.remove(8)

In [ ]:
# Show
print(my_list)

[1, 2, 1, 1, 1, 3, 10, 5, 'Append me!', 2.73, [1, 2, 3], [10, [19, 20], 30], 'xyz']

In [ ]:
my_list.remove([1,2,3])

In [ ]:
print(my_list)

[1, 2, 1, 1, 1, 3, 10, 5, 'Append me!', 2.73, [10, [19, 20], 30], 'xyz']

In [ ]:
len(my_list)

12

In [ ]:
my_list.remove(1)

In [ ]:
print(my_list)

[2, 1, 1, 1, 3, 10, 5, 'Append me!', 2.73, [10, [19, 20], 30], 'xyz']

In [ ]:
len(my_list)

11

In [ ]:
# my_list.clear

### <code>count()</code>


* The <code>count()</code> method returns the total occurrence of a specified element in the list

In [ ]:
print(my_list)

[2, 1, 1, 1, 3, 10, 5, 'Append me!', 2.73, [10, [19, 20], 30], 'xyz']

In [ ]:
# Count the number of times element 1 occurs in my_list
my_list.count('xyz')

1

In [ ]:
my_list.count(1)

3

### <code>index()</code>


* The <code>index()</code> method returns the index of a specified element.

In [ ]:
print(my_list)

[2, 1, 1, 1, 3, 10, 5, 'Append me!', 2.73, [10, [19, 20], 30], 'xyz']

In [ ]:
my_list.index('xyz')

10

In [ ]:
my_list.index(3)

4

### <code>sort()</code>

* Use <code>sort()</code> to sort the list in either ascending/descending order


* The sorting is done in ascending order by default


* <code>sort()</code> method takes the reverse boolean as an argument


* <code>sort()</code> method only works on a list with elements of same data type

In [ ]:
new_list = [6, 9, 1, 3, 5]

In [ ]:
# Use sort to sort the list (this is permanent!)
new_list.sort()

In [ ]:
print(new_list)

[1, 3, 5, 6, 9]

In [ ]:
# Use the reverse boolean to set the ascending or descending order
new_list.sort(reverse=True)
print(new_list)

[9, 6, 5, 3, 1]

In [ ]:
boolean_list = [True, False]

In [ ]:
boolean_list.sort(reverse=True)

In [ ]:
print(boolean_list)

[True, False]

### <code>reverse()</code>

* <code>reverse()</code> method reverses the list

In [ ]:
my_list = [1, 1, 1, 1, 1.43, 2, 3, 3, 5, 8, 10, 'xyz', 'abc']

In [ ]:
print(my_list)

[1, 1, 1, 1, 1.43, 2, 3, 3, 5, 8, 10, 'xyz', 'abc']

In [ ]:
my_list.reverse()

In [ ]:
print(my_list)

['abc', 'xyz', 10, 8, 5, 3, 3, 2, 1.43, 1, 1, 1, 1]

## Nested Lists

* A great feature of of Python data structures is that they support *nesting*. This means we can have data structures within data structures. For example: A list inside a list.

In [ ]:
# Let's make three lists
lst_1=[1,2,3]
lst_2=['b','a','d']
lst_3=[7,8,9]

# Make a list of lists to form a matrix
list_of_lists = [lst_1,lst_2,lst_3]

In [ ]:
print(list_of_lists)

[[1, 2, 3], ['b', 'a', 'd'], [7, 8, 9]]

In [ ]:
# Show
type(list_of_lists)

list

In [ ]:
# Grab first item in matrix object
list_of_lists[1]

['b', 'a', 'd']

In [ ]:
list_of_lists[1][2]

'd'

In [ ]:
a = input()
b = input()
new_a = b[:3] + a[3:]
new_b = a[:3] + b[3:]
print(new_a + ' ' + new_b)

KeyboardInterrupt: Interrupted by user

In [ ]:
asw=loss_functions[4:]*2

asddf=loss_functions + asw
asddf

#Task
x=[5,8,9,6,3,7,12,45,85]

WAP to
1. find out how many elements are there in the list
2. what is the minimum, maximum and sum value of the list
3. temporarily sort the list in descending order
4. add the number 78 into the end of the list
5. y=[1,2,55,9] merge this list with x
6. Remove the element in the first index
7. Remove the number 85 from the list
8. count how many times the integer 9 is occuring in the list
9. Find out the index number of the value 45
10. Convert the original list into ascending order
11. Then reverse the list
12. insert the string "xyz" into the 2nd index position
13. Take first 5 elements as a subset and then save into a variable called z
14. Print last 5 elements in x
15. Prove that x is mutable

In [ ]:
#5
x=[5,8,9,6,3,7,12,45,85]
y=[1,2,55,9]
x.extend(y)
x

[5, 8, 9, 6, 3, 7, 12, 45, 85, 78, 1, 2, 55, 9]

In [ ]:
#12
x=[78, 55, 45, 12, 9, 9, 7, 6, 5, 3, 2, 1]
x.insert(2,"xyz")
x

[78, 55, 'xyz', 45, 12, 9, 9, 7, 6, 5, 3, 2, 1]

Second largest number w/o using keywords

In [ ]:
lst = [10, 20, 5, 40, 30]

first=second=0

for num in lst:
    if num > first:
        second = first
        first = num
    elif num > second and num != first:
        second = num

print(second)

30

#Find the Most Frequent Element in a List Without count or counter method

In [ ]:
lst=[2, 1, 2, 2, 1, 3]

max_count=0
most_frequent=None

for num in lst:
  count=0
  for x in lst:
    if x==num:
      count+=1
  if count>max_count:
    max_count=count
    most_frequent=num

print(most_frequent)

2

#Reverse a List Without [::-1] or reversed()

#Remove Duplicates from a List Without set()