# Tuples

* In Python tuples are very similar to lists, however, unlike lists they are *immutable* meaning they can not be changed.


* You would use tuples to present things that shouldn't be changed, such as days of the week, or dates on a calendar.


* You'll have an intuition of how to use tuples based on what you've learned about lists. We can treat them very similarly with the <u>major distinction being that tuples are immutable</u>.


## Constructing Tuples

* The construction of a tuples use <code>()</code> with elements separated by commas.

* It is immutable
* It is represented using paranthesis and each element in the tuple is seperated by comma

In [ ]:
# Create a tuple
my_tuple = (1,'a',3)

In [ ]:
abc = 1,2

In [ ]:
type(abc)

tuple

In [ ]:
print(my_tuple)

(1, 'a', 3)

In [ ]:
type(my_tuple)

tuple

In [ ]:
# Can also mix object types
another_tuple = ('one',2, 4.53, 'asbc')
# Show
another_tuple

('one', 2, 4.53, 'asbc')

In [ ]:
my_list = [1]

In [ ]:
type(my_list)

list

In [ ]:
my_tuple = (1)

In [ ]:
type(my_tuple)

int

In [ ]:
my_tuple = (1,)

In [ ]:
type(my_tuple)

tuple

In [ ]:
my_tuple = 1,2,3

In [ ]:
type(my_tuple)

tuple

In [ ]:
my_tuple = (1,2,3,4)

In [ ]:
len(my_tuple)

4

## Tuple Indexing

* Indexing work just like in lists.


* A tuple index refers to the location of an element in a tuple.


* Remember the indexing begins from 0 in Python.


* The first element is assigned an index 0, the second element is assigned an index of 1 and so on and so forth.

In [ ]:
print(another_tuple)

('one', 2, 4.53, 'asbc')

In [ ]:
# Grab the element at index 0, which is the FIRST element
another_tuple[0]

'one'

In [ ]:
# Grab the element at index 3, which is the FOURTH element
print(another_tuple[3])

asbc

In [ ]:
# Grab the element at the index -1, which is the LAST element
print(another_tuple[-1])

asbc

In [ ]:
# Grab the element at the index -3, which is the THIRD LAST element
another_tuple[-3]

2

## Tuple Slicing

* We can use a <code>:</code> to perform *slicing* which grabs everything up to a designated point.


* The starting index is specified on the left of the <code>:</code> and the ending index is specified on the right of the <code>:</code>.


* Remember the element located at the right index is not included.

In [ ]:
# Print our list
print(another_tuple)

('one', 2, 4.53, 'asbc')

In [ ]:
# Grab the elements starting from index 1 and everything past it
another_tuple[1:3]

(2, 4.53)

* If you do not specify the ending index, then all elements are extracted which comes after the starting index including the element at that starting index. The operation knows only to stop when it has run through the entire tuple.

In [ ]:
# Grab everything starting from index 2
another_tuple[2:]

(4.53, 'asbc')

* If you do not specify the starting index, then all elements are extracted which comes befores the ending index excluding the element at the specified ending index. The operation knows only to stop when it has extracted all elements before the  element at the ending index.

In [ ]:
# Grab everything before the index 6
another_tuple[:8]

('one', 2, 4.53, 'asbc')

* If you do not specify the starting and the ending index, it will extract all elements of the tuple.

In [ ]:
# Grab everything
another_tuple

('one', 2, 4.53, 'asbc')

* We can also extract the last four elements. Remember we can use the index -4 to extract the FOURTH LAST element

In [ ]:
# Grab the LAST FOUR elements of the list
another_tuple[-4:]

('one', 2, 4.53, 'asbc')

* It should also be noted that tuple indexing will return an error if there is no element at that index.

In [ ]:
# another_tuple[5]

In [ ]:
# Check len just like a list
len(another_tuple)

4

In [ ]:
random_tuple = (1,5,6,2)

In [ ]:
sorted(random_tuple)

[1, 2, 5, 6]

In [ ]:
random_tuple

(1, 5, 6, 2)

## Tuple Methods

* Tuples have built-in methods, but not as many as lists do.

### <code>index()</code>


* The <code>index()</code> method returns the index of a specified element.

In [ ]:
my_tuple =(1,2,3,4,5,6,1,1,2)

In [ ]:
# Use .index to enter a value and return the index
my_tuple.index(2)

1

### <code>count()</code>


* The <code>count()</code> method returns the total occurrence of a specified element in a tuple

In [ ]:
# Use .count to count the number of times a value appears
my_tuple.count(2)

2

In [ ]:
my_tuple.count(1)

3

In [ ]:
my_tuple

(1, 2, 3, 4, 5, 6, 1, 1, 2)

In [ ]:
my_list = [1,2,3,4]

In [ ]:
my_list

[1, 2, 3, 4]

## Immutability

* It can't be stressed enough that tuples are immutable.

In [ ]:
print(my_tuple)

(1, 2, 3, 4, 5, 6, 1, 1, 2)

In [ ]:
my_tuple[0]

1

In [ ]:
# my_tuple[0] = 'change'

TypeError: 'tuple' object does not support item assignment

* Because of this immutability, tuples can't grow. Once a tuple is made we can not add to it.

* Let us consider a list and lets see if we can do this operation on them

In [ ]:
# Create a list
my_list = [5,7,9,3,2]

In [ ]:
# Replace the FIRST element with the value 1
my_list[0] = 1

In [ ]:
# Our modified list
my_list

[1, 7, 9, 3, 2]

* Tuple does not support methods such as <code>append()</code>, <code>extend()</code>, <code>remove()</code>, <code>pop()</code>

In [ ]:
# my_tuple.append('Great!')

### <code>zip()</code>


* <code>zip()</code> function takes multiple lists as arguments and zips them together


* This function returns a list of n-paired tuples where n is the number of lists being zipped

In [ ]:
city_list = ['Delhi','Patna','Cuttack','Guwahati']
river_list = ['Yamuna','Ganga','Mahanadi','Brahmaputra']

In [ ]:
zip(city_list, river_list)

In [ ]:
city_and_their_rivers = list(zip(city_list,river_list))

In [ ]:
print(city_and_their_rivers)

[('Delhi', 'Yamuna'), ('Patna', 'Ganga'), ('Cuttack', 'Mahanadi'), ('Guwahati', 'Brahmaputra')]

In [ ]:
city_list = ['Delhi','Patna','Cuttack','Guwahati']
river_list = ['Yamuna','Ganga','Mahanadi','Brahamputra','Thames']

In [ ]:
tuple(zip(city_list,river_list))

(('Delhi', 'Yamuna'),
 ('Patna', 'Ganga'),
 ('Cuttack', 'Mahanadi'),
 ('Guwahati', 'Brahmaputra'))

## When to use Tuples

* You may be wondering, "Why bother using tuples when they have fewer available methods?" To be honest, tuples are not used as often as lists in programming, but are used when immutability is necessary. If in your program you are passing around an object and need to make sure it does not get changed, then a tuple becomes your solution. It provides a convenient source of data integrity.


* You will find them often in functions when you are returning some values


* You should now be able to create and use tuples in your programming as well as have an understanding of their immutability.

# Sets

* Sets are an unordered collection of *unique* elements. We can construct them by using the <code>set()</code> function.


* Sets cannot have duplicates.


* Sets are mutable just like lists.


* You can create a non-empty set with curly braces by specifying elements separated by a comma.

In [ ]:
# Create an empty set
empty_set = set()

In [ ]:
type(empty_set)

set

In [ ]:
# Create a non-empty set within curly braces
non_empty_set = {1,6,4,'abc'}

In [ ]:
type(non_empty_set)

set

## A Time for Caution

* An empty set cannot be represented as <code>{}</code>, which is reserved for an <u>empty dictionary</u> which we will get to know in a short while

In [ ]:
my_object = {}

In [ ]:
type(my_object)

dict

In [ ]:
my_set = set()

In [ ]:
type(my_set)

set

*  We can cast a list with multiple repeat elements to a set to get the unique elements.

In [ ]:
# Create a list with repeats
my_list = [1,1,2,2,3,4,5,6,1,1]

In [ ]:
# Cast as set to get unique values
my_set = set(my_list)

In [ ]:
my_set

{1, 2, 3, 4, 5, 6}

In [ ]:
# A set cannot have mutable items
my_set = {1, 2, (3, 4)}

* We cannot create a set whose any of the elements is a list

In [ ]:
# But we can have tuples as set elements, they are immutable
my_set = {1, 2, (2,3)}

In [ ]:
my_set

{(2, 3), 1, 2}

In [ ]:
# my_set = {1,2, {3,5}}

TypeError: unhashable type: 'set'

In [ ]:
my_set

{(2, 3), 1, 2}

### <code>add()</code>


*  <code>add()</code> method adds an element to a set


* This method takes the element to be added as an argument

In [ ]:
# We add to sets with the add() method
my_set = set()
my_set.add('a')

In [ ]:
#Show
my_set

{'a'}

In [ ]:
# Add a different element
my_set.add(2)

In [ ]:
#Show
print(my_set)

{'a', 2}

In [ ]:
# Lets add another element 1
my_set.add(1)

In [ ]:
#Show
my_set

{1, 2, 'a'}

In [ ]:
# Try to add the same element 1 again
my_set.add(1)

In [ ]:
my_set

{1, 2, 'a'}

* Notice how it won't place another 1 there. That's because a set is only concerned with unique elements!

### <code>update()</code>

* <code>update()</code> method helps to add multiple elements to a set

In [ ]:
my_set = {5,7,9,3}

In [ ]:
# add multiple elements
my_set.update([2, 3, 4])
print(my_set)

{2, 3, 4, 5, 7, 9}

### <code>remove()</code>

* Use <code>remove()</code> to remove an item/element from the set.


* By default <code>remove()</code> removes the specified element from the set.


* <code>remove()</code> takes the element as an argument.

In [ ]:
non_empty_set = {1,5,6,73,2}

In [ ]:
non_empty_set.remove(5)

In [ ]:
non_empty_set

{1, 2, 6, 73}

In [ ]:
# non_empty_set.remove(45)

* <code>remove()</code> throws an error when we try to remove an element which is not present in the set

### <code>union()</code>


* <code>union()</code> method returns the union of two sets


* Also denoted by the operator <code>|</code>

In [ ]:
# Initialize sets A and B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

In [ ]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
A

{1, 2, 3, 4, 5}

In [ ]:
# Also denoted by the operator |
A | B

{1, 2, 3, 4, 5, 6, 7, 8}

### <code>intersection()</code>


* <code>intersection()</code> method returns the intersection of two sets


* Also denoted by the operator <code>&</code>

In [ ]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

In [ ]:
A.intersection(B)

{4, 5}

In [ ]:
# Also denoted by the operator &
A & B

{4, 5}

### <code>difference()</code>


* <code>difference()</code> method returns the difference of two sets


* Difference of the set <code>B</code> from set <code>A</code> i.e, <code>(A - B)</code> is a set of elements that are only in <code>A</code> but not in <code>B</code>


* Also denoted by the operator <code>-</code>

In [ ]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

In [ ]:
A.difference(B)

{1, 2, 3}

In [ ]:
# Also denoted by the operator -
A - B

{1, 2, 3}

In [ ]:
B.difference(A)

{6, 7, 8}

In [ ]:
B - A

{6, 7, 8}

### <code>symmetric_difference()</code>


* <code>symmetric_difference()</code> method returns the set of elements in A and B but not in both (excluding the intersection)


* Also denoted by the operator <code>^</code>

In [ ]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

In [ ]:
A.symmetric_difference(B)

{1, 2, 3, 6, 7, 8}

In [ ]:
A^B

{1, 2, 3, 6, 7, 8}

1.      Write a Python program to remove the intersection of a 2nd set from the 1st set.

Example 1:

Input:

21, 34, 56, name

shop, job, name, item

Output:

[' 34', ' 56', '21'] [' item', ' job', ' name', 'shop']



2.      Write a Python program to remove an item from a set if it is present in the set.

Example 1:

Input:

3, 2, 6, 8, 5

8

Output:

{2, 3, 5, 6}





3.      Write a Python program to create an intersection of sets.

In mathematics, the intersection of two sets A and B, denoted by A ∩ B, is the set containing all elements of A that also belong to B (or equivalently, all elements of B that also belong to A).

In set-builder notation, A ∩ B = {x ∈ U : x ∈ A and x ∈ B}.

Example 1:

Input:

book paper draw dance

hike tour dance work

Output:

{'dance'}



4.      Write a Python program to remove item(s) from a given set.

Example 1:

Input:

44,83,20,72

Output:

{83, 44, 20}

# Dictionaries

* We've been learning about *sequences* in Python but now we're going to switch gears and learn about *mappings* in Python.


* If you're familiar with other languages you can think of these Dictionaries as hash tables.


* So what are mappings? Mappings are a collection of objects that are stored by a *key*, unlike a sequence that stored objects by their relative position. This is an important distinction, since mappings won't retain order since they have objects defined by a key.


* A Python dictionary consists of a key and then an associated value. That value can be almost any Python object. So a dictionary object always has elements as key-value pairs


## Constructing a Dictionary


* A dictionary object is constructed using curly braces <code>{key1:value1,key2:value2,key3:value3}</code>

In [ ]:
# Make a dictionary with {} and : to signify a key and a value
marvel_dict = {'Name':'Thor','Place':'Asgard','Weapon' : 'Hammer', 1:2, 3 : 'power', 'alibies' : ['Ironman','Captain America'], 'abc' : {1:2, 4:5}}

In [ ]:
# Call values by their key
marvel_dict['Place']

'Asgard'

In [ ]:
type(marvel_dict)

dict

In [ ]:
marvel_dict['Name']

'Thor'

In [ ]:
# marvel_dict['Random']

In [ ]:
marvel_dict['Weapon']

'Hammer'

In [ ]:
marvel_dict['alibies']

['Ironman', 'Captain America']

In [ ]:
marvel_dict['abc']

{1: 2, 4: 5}

In [ ]:
type(marvel_dict['abc'])

dict

## Dictionary Methods

### <code>keys()</code>


* <code>keys()</code> method returns the list of keys in the dictionary object

In [ ]:
marvel_dict.keys()

dict_keys(['Name', 'Place', 'Weapon', 1, 3, 'alibies', 'abc'])

In [ ]:
list(marvel_dict.keys())

['Name', 'Place', 'Weapon', 1, 3, 'alibies', 'abc']

### <code>values()</code>

* <code>values()</code> method returns the list of values in the dictionary object

In [ ]:
print(marvel_dict)

{'Name': 'Thor', 'Place': 'Asgard', 'Weapon': 'Hammer', 1: 2, 3: 'power', 'alibies': ['Ironman', 'Captain America'], 'abc': {1: 2, 4: 5}}

In [ ]:
list(marvel_dict.values())

['Thor',
 'Asgard',
 'Hammer',
 2,
 'power',
 ['Ironman', 'Captain America'],
 {1: 2, 4: 5}]

### <code>items()</code>


* <code>items()</code> method returns the list of the keys and values

In [ ]:
# Get the keys and their corresponding values
list(marvel_dict.items())

[('Name', 'Thor'),
 ('Place', 'Asgard'),
 ('Weapon', 'Hammer'),
 (1, 2),
 (3, 'power'),
 ('alibies', ['Ironman', 'Captain America']),
 ('abc', {1: 2, 4: 5})]

* We can also use the <code>get()</code> method to extract a particular value of key-value pair.

### <code>get()</code>

* <code>get()</code> method takes the key as an argument and returns None if the key is not found in the dictionary.


* We can also set the value to return if a key is not found. This will be passed as the second argument in <code>get()</code>

In [ ]:
marvel_dict.get('Place')

'Asgard'

In [ ]:
marvel_dict.get('Random')

In [ ]:
marvel_dict.get('Random','Not Found')

'Not Found'

In [ ]:
# marvel_dict['friend']

Its important to note that dictionaries are very flexible in the data types they can hold. For example:

In [ ]:
employee_dict = {'Name':'Arun','Skills':['Python','Machine Learning','Deep Learning'],'Band':6.0,'Promotion Year':[2016,2018,2020]}

In [ ]:
len(employee_dict.keys())

4

In [ ]:
# Let's call items from the dictionary
employee_dict['Skills']

['Python', 'Machine Learning', 'Deep Learning']

In [ ]:
# Can call an index on that value
employee_dict['Skills'][0]

'Python'

In [ ]:
# Can then even call methods on that value
employee_dict['Skills'][0].upper()
#lower()

'PYTHON'

In [ ]:
# Add a new key
employee_dict['Designation'] ='Senior Data Scientist'

In [ ]:
employee_dict

{'Name': 'Arun',
 'Skills': ['Python', 'Machine Learning', 'Deep Learning'],
 'Band': 6.0,
 'Promotion Year': [2016, 2018, 2020],
 'Designation': 'Senior Data Scientist'}

### <code>update()</code>

* You can add an element which is a key-value pair using the <code>update()</code> method

* This method takes a dictionary as an argument

In [ ]:
employee_dict.update({'Salary':'2,000,000'})

In [ ]:
employee_dict

{'Name': 'Arun',
 'Skills': ['Python', 'Machine Learning', 'Deep Learning'],
 'Band': 6.0,
 'Promotion Year': [2016, 2018, 2020],
 'Designation': 'Senior Data Scientist',
 'Salary': '2,000,000'}

* We can also use the <code>update()</code> method to update the existing values for a key

In [ ]:
employee_dict.update({'Name' : 'Akash S'})

In [ ]:
employee_dict

{'Name': 'Akash S',
 'Skills': ['Python', 'Machine Learning', 'Deep Learning'],
 'Band': 6.0,
 'Promotion Year': [2016, 2018, 2020],
 'Designation': 'Senior Data Scientist',
 'Salary': '2,000,000'}

* We can affect the values of a key as well without the <code>update()</code> method

In [ ]:
employee_dict['Name']

'Akash S'

In [ ]:
# Subtract 123 from the value
employee_dict['Name'] = employee_dict['Name'] + ' ' + 'Raj'

In [ ]:
#Check
employee_dict

{'Name': 'Akash S Raj',
 'Skills': ['Python', 'Machine Learning', 'Deep Learning'],
 'Band': 6.0,
 'Promotion Year': [2016, 2018, 2020],
 'Designation': 'Senior Data Scientist',
 'Salary': '2,000,000'}

### <code>dict()</code>


* We can also create dictionary objects from sequence of items which are pairs. This is done using the <code>dict()</code>method


*  <code>dict()</code> function takes the list of paired elements as argument

In [ ]:
country_list = ['India','Australia','United States','England']
city_list = ['New Delhi', 'Canberra' , 'Washington DC','London']

In [ ]:
country_city_list = list(zip(country_list,city_list))

In [ ]:
country_city_list

[('India', 'New Delhi'),
 ('Australia', 'Canberra'),
 ('United States', 'Washington DC'),
 ('England', 'London')]

In [ ]:
dict(country_city_list)

{'India': 'New Delhi',
 'Australia': 'Canberra',
 'United States': 'Washington DC',
 'England': 'London'}

In [ ]:
# Let us create a list of paired tuples
country_city_tuples = [('India','New Delhi'),('Australia','Canberra'),('United States','Washington DC'),('England','London')]

In [ ]:
country_city_dict = dict(country_city_tuples)

In [ ]:
country_city_dict

{'India': 'New Delhi',
 'Australia': 'Canberra',
 'United States': 'Washington DC',
 'England': 'London'}

### <code>pop()</code>


* <code>pop()</code> method removes and returns an element from a dictionary having the given key.

* This method takes two arguments/parameters (i) key - key which is to be searched for removal, (ii) default - value which is to be returned when the key is not in the dictionary

In [ ]:
country_city_dict.pop('England')

'London'

In [ ]:
country_city_dict

{'India': 'New Delhi',
 'Australia': 'Canberra',
 'United States': 'Washington DC'}

In [ ]:
# element_to_pop = country_city_dict.pop('England')

In [ ]:
# element_to_pop

In [ ]:
country_city_dict

{'India': 'New Delhi',
 'Australia': 'Canberra',
 'United States': 'Washington DC'}

### We can use the <code>zip()</code> and <code>dict()</code> methods to create a dictionary object from two lists

In [ ]:
name = ["Manjeet", "Nikhil", "Shambhavi"]
marks = [40, 50, 60]

In [ ]:
mapped = zip(name, marks)

In [ ]:
mapped

In [ ]:
print(dict(mapped))

{'Manjeet': 40, 'Nikhil': 50, 'Shambhavi': 60}

In [ ]:
name = ["Manjeet", "Nikhil", "Shambhavi"]
marks = [40, 50, 60,80]

In [ ]:
mapped = zip(name, marks)

In [ ]:
print(dict(mapped))

{'Manjeet': 40, 'Nikhil': 50, 'Shambhavi': 60}

#TASK
Create a dictionary

z={"name":"Cranes Varsity","location":"Bangalore"}
1. print all the keys in the dictionary
2. print all the values in the dictionary
3. Without using any methods print the value corresponding to "location"
4. Using any method print the value corresponding to 'name'
5. Add the following key value pairs {"courses":["data science","embedded system"],"number of employees":60}
6. check the data type of the value corresponding to "courses"
7. Print "embedded system", that is the second term of the value corresponding to "courses"
8. Without using any methods add the key value pair {"number of classrooms":12}

9. Remove the key value pair {"location":"Bangalore"}
10. Merge the following dictionary to z

a={"VP":"Arpita Mam","technical heads":["Mohsin Khan"," Muhammed Sikander"]}

and then save the new dictionary to a variable called 'new'

In [ ]:
a={"VP":"Arpita Mam","technical heads":["Mohsin Khan"," Muhammed Sikander"]}
z={'name': 'Cranes Varsity','courses': ['data science', 'embedded system'],'number of employees': 60,'number of classrooms': 12}
new=a|z
new

{'VP': 'Arpita Mam',
 'technical heads': ['Mohsin Khan', ' Muhammed Sikander'],
 'name': 'Cranes Varsity',
 'courses': ['data science', 'embedded system'],
 'number of employees': 60,
 'number of classrooms': 12}

  How do you sort a dictionary by its keys or values?